@{
    ViewData["Title"] = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="tittle">Universidad Fidélitas</h1>
        <h3 id="title">Esta página web te permitirá gestionar entidades de la universidad Fidélitas. ¡Aprovechá ahora! </h3>
        <div class="d-flex justify-content-center">
            <img src="/imgs/UFidelitaslogo.png" width="1000px" class="img-fluid mt-2">
        </div>
    </section>
    <section class="row" aria-labelledby="aspnetTitle">
    <table>
    <tr>
        <td>
            Curso
        </td>
        <td>
            <img src="/imgs/curso.png" width="400px" class="img-fluid mt-2">
        </td>
    </tr>
    <tr>
        <td>
            Estudiante
        </td>
        <td>
            <img src="/imgs/esdtudiante.webp" width="400px" class="img-fluid mt-2">
        </td>
    </tr>
    <tr>
        <td>
            Profesor
        </td>
        <td>
            <img src="/imgs/profesor.jpeg" width="400px" class="img-fluid mt-2">
        </td>
    </tr>
</table>
</section>
</main>

