@{
    ViewData["Title"] = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="tittle">Universidad Fidélitas</h1>
        <h3 id="title">Esta página web te permitirá gestionar entidades de la universidad Fidélitas. ¡Aprovechá ahora! </h3>
        <div class="d-flex justify-content-center">
            <img src="/imgs/UFidelitaslogo.png" width="1000px" class="img-fluid mt-2">
        </div>
    </section>
</main>

